.gallery-container {
  padding-top: 20px;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.photo {
  width: 210px;
  height: 260px;
  margin: 10px;
}

.pagination {
  display: flex;
  margin-top: 40px;
  justify-content: center; /* Center pagination */
}

.n1-color {
  color: #000000;
}

.nav-gallery {
  margin-left: 20px;
}

.nav-button {
  margin: 0 5px;
  border: 0.9px solid #E0E0E0;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .gallery {
    width: 100%;
  }

  .photo {
    width: 100%; /* Adjusted size for smaller screens */
    height: 100%;
    margin: 5px;
  }

  .nav-gallery {
    margin-left: 10px;
  }

  .nav-button {
    margin: 0 3px;
  }
}

@media (max-width: 480px) {
  .photo {
    width: 100%; /* Further adjusted size for small screens */
    height: 100%;
    margin: 2px;
  }

  .pagination {
    flex-direction: column; 
    align-items: center;
  }

  .nav-button {
    margin: 3px 0;
  }
}
