.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  padding-top: 40px;
  margin: 0 7%;
}

.grid-item {
  padding: 10px;
}

.grid-left {
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: blue; */
}

.main-info {
  max-width: 40%;
}

.main-info h1 {
  font-size: 64px;
  font-weight: 300;
  margin: 20px 0 -20px;
  color: #bdbdbd;
}

.main-info h2 {
  font-size: 64px;
  margin: 10px 0 60px;
  font-weight: 700;
}

.navigation {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0 60px;
}

.nav-button {
  background: none;
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin: 0 10px;
  width: 52.95px;
  height: 53px;
  cursor: pointer;
}

.navBtn {
  display: flex;
  justify-content: space-around;
  color: #bdbdbd;
}

.n1 {
  width: 23.98px;
  height: 48px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

/* .grid-right {
  background-color: #000;
} */

.hero-card{
  position: relative;
  overflow: hidden;
  /* width: 770px; */
  height: 829px;
}

.hero-card .main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-card .hero-view-btn{
  bottom: 70px;  
  width: 221.81px;
  height: 71px;
  background: #fff;
  color: #000;
  background-size: cover;
  background-position: center;
  position: relative;
  border: none;
}

.hero-card .hero-view-btn:hover{
  background: #000;
  color: white;
}

/* about us */

.about-container {
  padding-top: 40px;
  margin: 7%;
}

.about-card {
  /* background-color: #f5f5f5; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.about-content {
  padding-right: 20px;
}

.about-content h2 {
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  padding-bottom: 10px;
  color: #bdbdbd;
}

.about-content p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
  width: 100%;
}

.btn-read-more {
  width: 221.81px;
  height: 71px;
  margin-top: 40px;
  border: none;
  padding: 20px 40px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-read-more:hover {
  border: 1px solid #000;
}

.about-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.about-img-01 {
  display: grid;
  flex-direction: column;
  gap: 10px;
}

.about-img-01,
.about-img-02 {
  padding: 10px;
}

/* Focus */
.focus-container {
  padding-top: 40px;
  margin: 7%;
}

.focus-container h1 {
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  color: #bdbdbd;
}

.focus-card {
  /* background-color: #d41111; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.focus-content {
  padding-right: 20px;
}

.focus-content p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
  width: 400px;
}

.focus-image {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  width: 420px;
}

.focus-img-01 {
  display: grid;
  flex-direction: column;
}

.focus-img-01 h1 {
  font-size: 200px;
  font-weight: 900;
  line-height: 234.38px;
  color: #f2f2f2;
}

.focus-img-02 p {
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
}

/* our projects */

.proj-container {
  margin: 7%;
}

.proj-container h1{
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  color: #bdbdbd;
}

.proj-card {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  margin-top: 20px;
}

.proj-card-1,
.proj-card-2 {
  display: grid;
  gap: 20px;
}

.proj-card-1 {
  grid-template-columns: 1fr;
}

.proj-card-2 {
  grid-template-columns: 1fr 2fr 2fr !important;
  align-items: center;
}

.proj-image {
  position: relative;
}

.proj-image img,
.proj-image .img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proj-image.square {
  grid-row: span 2;
  aspect-ratio: 1 / 1;
  height: 100%;
}

.proj-image.rectangle {
  aspect-ratio: 2 / 1;
  height: 100%;
}

.proj-image .img_cover {
  background: rgba(3, 1, 1, 0.5);
  width: 100%;
  height: 100%;
  padding: 10%;
  box-sizing: border-box;
}

.proj-image .img-card {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/pro1.png');
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.proj-image .img_cover h1 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.proj-image .img_cover p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-top: 10px;
  color: #fff;
}

.proj-card-3 {
  display: flex;
  justify-content: flex-end;
}

.proj-card-3 button {
  width: 221.81px;
  height: 71px;
  border: none;
  padding: 20px 40px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #000;
  color: white;
}

.proj-card-3 button:hover{
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

/* new */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.form-container {
  flex: 1;
  max-width: 500px;
  padding: 20px;
}

h2 {
  font-size: 36px;
  color: #888;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .form-container, .image-container {
      max-width: 100%;
  }

  h2 {
      text-align: center;
  }
}
